#Backup Files not needed in repository
*.*bak
*-backups
fp-info-cache
\#auto_saved_files#
_autosave-*

#PCB Production and JLCPCB specific files
jlcpcb/gerber
jlcpcb/assembly
jlcpcb/*.zip
production/


#Step files of platine
*.step